Repository 7rikazhexde/video-grid-merge: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, mdformat

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort video_grid_merge tests

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black video_grid_merge tests

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8 video_grid_merge tests

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat README.md

docs(README): Changed installation description
  README.md
  pyproject.toml
Due: mdformat

test: Change test code path
  poetry.lock
  pyproject.toml
  tests/test_main.py
Due: isort, black, flake8, mypy

test: Change test code paths from relative to absolute
  pyproject.toml
  tests/test_main.py
Due: isort, black, flake8, mypy

feat: Add ffmpeg install commands
  .github/workflows/pytest.yml
  pyproject.toml
Due: none

test: Update GitHub Action for pytest
  .github/workflows/pytest.yml
  README.md
  pyproject.toml
Due: mdformat

test: Update GitHub Action for pytest
  .github/workflows/test_branch.yml
  .github/workflows/test_summary.yml
  pyproject.toml
Due: none

docs(README): Update badges
  README.md
  pyproject.toml
Due: mdformat

feat: Package changes and ci code fixes - added ruff - removed isort,flake8,flake8-pyproject - added cancellation process in post-commit creation process
  create_post-commit.sh
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: none

chore: Change repository local hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: none

:up:Update package and github action
  .github/workflows/test_branch.yml
  poetry.lock
  pyproject.toml
Due: none

:green_heart:Update GitHub Actions and Packages
  .github/workflows/test_branch.yml
  .github/workflows/test_githubpages_deploy_multi.yml
  .github/workflows/test_summary.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  video_grid_merge/local_code/create_grid_video_2x2.py
  video_grid_merge/local_code/create_grid_video_3x3.py
  video_grid_merge/local_code/create_grid_video_4x4.py
  video_grid_merge/local_code/create_grid_video_nxn.py
Due: isort, black, flake8, mypy, mdformat

:up:Added development package
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: none

:green_heart:Fixed GitHub Actions
  .github/workflows/test_summary.yml
  pyproject.toml
Due: none

:green_heart:Fixed GitHub Actions
  .github/workflows/test_branch.yml
  .github/workflows/test_githubpages_deploy_multi.yml
  .github/workflows/test_summary.yml
  README.md
  pyproject.toml
Due: mdformat

:sparkles:Functional improvements
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_dlf.py
  tests/test_main.py
  tests/test_rnf.py
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy

:bug:Fixed for WSL2(Ubuntu)
  tests/test_main.py
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy

:bug:Fixed a problem with input processing that prevented normal operation.
  tests/test_main.py
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy

:sparkles:Add ffmpeg command(v2)
  tests/test_main.py
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$, but not: resources_bin.py
  flake8: any of: \.py$
  mypy: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
