Repository 7rikazhexde/video-grid-merge: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, mdformat

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort video_grid_merge tests

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black video_grid_merge tests

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8 video_grid_merge tests

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat README.md

:white_check_mark:Add test codes
  tests/test_main.py
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy

:white_check_mark:Fixed pytest option and codes
  pyproject.toml
  tests/test_main.py
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy

:recycle:Code refactoring
  README.md
  pyproject.toml
  tests/test_dlf.py
  video_grid_merge/__main__.py
  video_grid_merge/delete_files.py
Due: isort, black, flake8, mypy, mdformat

:green_heart:Fixed CI file
  .github/workflows/test_githubpages_deploy_multi.yml
Due: none

:bookmark:Update version
  pyproject.toml
  scripts/create_post-commit.sh
Due: none

:bug::recycle:Bug Fixes and Feature Improvements
  .github/workflows/test_branch.yml
  .github/workflows/test_githubpages_deploy_multi.yml
  .github/workflows/test_summary.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  tests/conftest.py
  tests/test_ffmpeg_commands.py
  tests/test_input_handling.py
  tests/test_main.py
  tests/test_utils.py
  tests/test_video_processing.py
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy

:memo:Update README.md
  README.md
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy, mdformat

:green_heart:Update GitHub Actions
  .github/workflows/test_branch.yml
  pyproject.toml
Due: none

:green_heart::bookmark:Update GitHub Actions and Version Tag
  .github/workflows/test_branch.yml
  .github/workflows/test_githubpages_deploy_multi.yml
  .github/workflows/test_githubpages_deploy_multi_os.yml
  .github/workflows/test_summary.yml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  scripts/run_tests.py
Due: isort, black, flake8, mypy

:green_heart:Fixed GitHub Actions
  .github/workflows/test_branch.yml
  pyproject.toml
Due: none

:green_heart:Update github actions and pyproject.toml
  .github/workflows/test_githubpages_deploy_multi_os.yml
  .github/workflows/test_multi_os.yml
  .github/workflows/test_pytest-cov-report_deploy_multi_os.yml
  .github/workflows/test_pytest-html-report_deploy_multi_os.yml
  .github/workflows/test_summary.yml
  .github/workflows/update-version-and-release.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/run_tests.py
Due: isort, black, flake8, mypy, mdformat

:bug:Implement get_video_fps function to retrieve video frame rate and update ffmpeg commands to maintain proper frame rate
  poetry.lock
  requirements-dev.txt
  video_grid_merge/__main__.py
Due: isort, black, flake8, mypy

Add comprehensive tests to achieve 100% test coverage
  tests/test_ffmpeg_commands.py
  tests/test_video_processing.py
Due: isort, black, flake8, mypy

:recycle: Refactor code and fix workflow
  .github/workflows/test_pytest-cov-report_deploy_multi_os.yml
  .github/workflows/test_pytest-html-report_deploy_multi_os.yml
  poetry.lock
  requirements-dev.txt
  tests/test_ffmpeg_commands.py
Due: isort, black, flake8, mypy

♻ Fix workflow
  .github/workflows/test_pytest-cov-report_deploy_multi_os.yml
  .github/workflows/test_pytest-html-report_deploy_multi_os.yml
Due: none

♻ Update workflow
  .github/workflows/test_multi_os.yml
  .github/workflows/test_pytest-cov-report_deploy_multi_os.yml
  .github/workflows/test_pytest-html-report_deploy_multi_os.yml
  .github/workflows/update-version-and-release.yml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  scripts/update_actions_gh.py
Due: isort, black, flake8, mypy

♻ Update workflow
  .github/workflows/test_pytest-cov-report_deploy_multi_os.yml
  .github/workflows/test_pytest-html-report_deploy_multi_os.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$, but not: resources_bin.py
  flake8: any of: \.py$
  mypy: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
